.navegação{
    height: 56px;
    padding: 0 16px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#start{
    display: flexbox;
    display: flex;
    flex-direction: row;
}

#menu{
    width: 24;
    height: 24;
    top: 16px;
    left: 24px;
    padding: 8px;
    margin-right: 5px;
    box-sizing: border-box;
}

#logo{
    display: flex;
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 93px;
    padding: 18px 14px 18px 16px;
}

#search {
    width: 410px;
    height: 40px;
    opacity: 1;
    border-width: 1px;
}

.video{
    display: flexbox;
    display: flex;
    flex-direction: column;
    width: 952 px;
    height: 746 px;
    top: 84px;
    left: 80px;
    gap: 16px;
    opacity: 1;
}

#side-bar{
    width: 160;
    height: 938;
    opacity: 1;
    top: 84px;
    left: 1052px;
    gap: 16px;
    justify-content: flex-end;
}

h1{
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    padding-bottom: NONE;
    letter-spacing: 0%;

}
.video-actions{
    width: 902px;
    height: 42px;
    gap: 42px;
    opacity: 1;
}

h2{
     font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    padding-bottom: NONE;
    letter-spacing: 0%;
    width: 391;
    height: 16;
    opacity: 1;

}

h3{
    width: 510;
    height: 64;
    opacity: 1;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}
